@import './variables.styl';
@import 'nib';

.header-container {
    background: $Soft-red;
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    border-radius: $border-radius;
    align-items: center;
    color: $Very-pale-orange;
    line-height: 40px;
    letter-spacing: 0.5px;

    &-title {
        font-size: 36px;
    }

    &-sub-title {
        font-weight: normal;
        font-size: 16px;
    }
}