@import 'nib';
@import './variables.styl';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    text-size-adjust: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: $Cream;
    display: grid;
    place-items: center;
    padding: 40px 0;

    @media screen and (min-width: 768px) {
        padding: 20px 0;
    }

    font-family: 'DM Sans', sans-serif;
}

.footer {
    padding: 20px;
    max-width: 550px;
    margin: 0 auto;
    font-size: 16px;
    color: $Dark-brown;
    line-height: 32px;
    text-align: center;
}

.container {
    padding: 25px 15px;
    max-width: 530px;
    margin: 0 auto;
    width: 94%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 530px) {
        padding: 25px 25px;
        min-width: 530px;
    }
}